BASE_URL=
KOMIK_RECOMENDED=/recommended
KOMIK_POPULAR=/popular
KOMIK_LIST=/daftar-komik
KOMIK_DETAIL=/detail
SEARCH=/search?keyword=
GENRE=/genre
GENRE_DETAIL=/genres
ALL_MANGA=/daftar-komik
READ=/read

BACKUP_URL=
BACKUP_KOMIK_RECOMENDED=/recommended
BACKUP_KOMIK_POPULAR=/popular
BACKUP_KOMIK_LIST=/daftar-komik
BACKUP_KOMIK_DETAIL=/detail
BACKUP_SEARCH=/search?keyword=
BACKUP_GENRE=/genre
BACKUP_GENRE_DETAIL=/genres
BACKUP_ALL_MANGA=/daftar-komik
BACKUP_READ=/read
